@import "../styles/tokens.css";

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Inter, Arial, Helvetica, sans-serif;
  background: var(--bg);
  color: var(--fg);
}

a {
  color: inherit;
}
